* {
    box-sizing: border-box;
}

body {
    font-family: 'Koulen';
    margin: 0px;
    background-color: black;
    color: white;
}

.img1 {
    display: flex;
    justify-content: center;
}

.img2 {
    height: 200px;
    width: 230px;
}

span.abc{
    font-size: 100px;
}

.home {
    font-size: 30px;
}

.home ol {
    display: flex;
    justify-content: center;

}

.home {
    margin-top: 40px;
}